/* Contenedor del modal */
.modal-categoria {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Contenido del modal */
.modal-contenido {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
}

/* Título */
.modal-contenido h2 {
  text-align: center;
  color: #06813b;
  margin-bottom: 20px;
}

/* Lista de productos en formato grid */
.modal-contenido ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  list-style: none;
  justify-content: center;
}
/* Bloques clicables de productos */
.modal-contenido li {
  width: 100px;
  height: 100px;
  background: #d3301e; /* Tu naranja */
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.modal-contenido li:hover {
  background: #06813b; /* Tu morado */
}

/* Cantidad en la esquina superior derecha */
.modal-contenido li span.cantidad {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #06813b;
  color: #fff;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 0.8rem;
}

/* Botones de confirmar y cerrar */
.modal-contenido button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #06813b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-contenido button:first-of-type {
  background-color: #d3301e;
  color: #fff;
}

.modal-contenido button:first-of-type:hover {
  background-color: #06813b;
}

.modal-contenido button:last-of-type {
  background-color: #06813b;
}

.modal-contenido button:last-of-type:hover {
  background-color: #bbb;
}

.producto-item {
  position: relative;
  cursor: pointer;
  margin: 5px 0;
}

.contador-pedido {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #06813b;
  color: white;
  border-radius: 50%;
  padding: 0.3em 0.6em;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}


/* Responsive */
@media (max-width: 480px) {
  .modal-contenido {
    width: 95%;
    padding: 15px;
  }

  .modal-contenido ul {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}
