/* Fondo global */
html,
body {
  background-color: #06813b;
  /* Fondo morado */
  font-family: 'Roboto', sans-serif;
}

/* Eliminar subrayado en enlaces por defecto */
a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-principal: #06813b;
  --color-principal-oscuro: #145a32;
  /* una versión ligeramente más oscura */
  --color-secundario: #d3301e;
  --blanco: #ffffff;
  --gris-claro: #f5f5f5;
  --gris-oscuro: #333333;
  --fuente-principal: "Marcellus", serif;
}

/* Clases de colores */
.bg-principal {
  background-color: var(--color-principal);
}

.bg-principal-oscuro {
  background-color: var(--color-principal-oscuro);
}

.bg-secundario {
  background-color: var(--color-secundario);
}

.text-principal {
  color: var(--color-principal);
}

.text-principal-oscuro {
  color: var(--color-principal-oscuro);
}

.text-secundario {
  color: var(--color-secundario);
}

/* Extras */
.text-blanco {
  color: var(--blanco);
}

.bg-blanco {
  background-color: var(--blanco);
}

.bg-gris-claro {
  background-color: var(--gris-claro);
}

.text-gris-oscuro {
  color: var(--gris-oscuro);
}