/* General container for the dashboard */
.container--dashboard {
  padding: 20px;
  background-color: #06813b; /* Verde Principal */
  width: 100%;
  align-items: center;
  justify-content: center;
  border-right: #F5F5F5 2px solid; /* Borde gris claro */
  min-height: 50vh;
}

/* Subnavbar styling */
.subnavbar--dashboard {
  margin-bottom: 20px;
}

/* Dashboard grid layout */
.dashboard--dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

/* Mesa individual styling - Responsive */
.mesa--dashboard {
  background-color: #F5F5F5; /* Gris Claro */
  border-radius: 10px;
  padding: 5%; /* Relative padding */
  width: 6vw; /* Relative width based on viewport width */
  height: 6vw; /* Relative height to maintain square shape */
  max-width: 100px; /* Limit max size for smaller screens */
  max-height: 100px; /* Limit max size for smaller screens */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw; /* Relative font size based on viewport width */
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

/* Hover effect */
.mesa--dashboard:hover {
  transform: translateY(-3%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

/* Mesa number styling */
.mesa-number--dashboard {
  font-size: 1.5rem;
  color: #333;
}

/* Estado styling */
.mesa--dashboard.abierta--dashboard {
  background-color: #d3301e; /* Naranja Vibrante */
  color: white;
}

.mesa--dashboard.cerrada--dashboard {
  background-color: #f7f7f7; /* Verde Menta */
  color: black;
}

/* Contenedor principal para centrar el formulario */
.search-container--dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh; 
  width: 43vh;
}


/* Estilo responsive para pantallas pequeñas */
@media (max-width: 600px) {
   .dashboard--dashboard {
    grid-template-columns: repeat(4, 1fr); /* Siempre 4 columnas */
    gap: 10px; /* Menor separación entre cajas */
    justify-items: center; /* Centra las cajas en su columna */
  }

  .container--dashboard {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mesa--dashboard {
    width: 60px;
    height: 60px;
    font-size: 1rem;
    padding: 10px;
    max-width: none;
    max-height: none;
  }
}
