/* Contenedor principal de la página */
.products-page--productos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Ocupa toda la altura de la pantalla */
    max-height: 80vh;
    background-color: #06813b; /* Gris claro */
  }
  
  /* Contenedor de los botones */
  .buttons--productos {
    display: grid; /* Cambiamos a grid */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas iguales */
    gap: 20px; /* Espaciado entre los botones */
    justify-items: center; /* Centrar los botones dentro de cada celda */
    align-items: center; /* Centrar los botones verticalmente */
  }
  
  /* Botones estilizados */
  .button--productos {
    background-color: #06813b; /* Morado profundo */
    color: #FFFFFF; /* Texto blanco */
    border: 2px solid #d3301e;
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px 30px; /* Tamaño del botón */
    font-size: 1.2rem; /* Tamaño del texto */
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  /* Hover y efecto de interacción */
  .button--productos:hover {
    background-color: #d3301e; /* Naranja vibrante */
    transform: scale(1.1); /* Ampliar ligeramente */
  }
  
  /* Animación en el clic */
  .button--productos:active {
    transform: scale(0.95); /* Reducir ligeramente */
  }
  