/* Navbar container */
.navbar--navbar {
  background-color: #06813b; /* Morado Profundo */
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para efecto */
}

/* Estilo para el logo en el navbar */
.navbar-logo--navbar {
  width: 40px; /* Ancho fijo para hacerlo pequeño */
  height: auto; /* Mantiene la proporción original */
  border-radius: 5px; /* Opcional: Bordes ligeramente redondeados */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación al pasar el cursor */
}

/* Hover effect para el logo */
.navbar-logo--navbar:hover {
  transform: scale(1.1); /* Ampliar ligeramente al pasar el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agregar sombra */
}

/* Navbar list */
.navbar-list--navbar {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Navbar items */
.navbar-item--navbar{
  font-size: 1.2rem; /* Tamaño de fuente base */
  font-weight: bold;
}

.navbar-checkbox-habilitar{
  color: #ffffff;
  margin-left: 10px;
}

/* Navbar links */
.navbar-link--navbar {
  text-decoration: none;
  color: #ffffff; /* Blanco */
  transition: color 0.3s ease;
}

/* Hover effect for links */
.navbar-link--navbar:hover {
  color: #d3301e; /* Naranja vibrante */
}

.only-mobile {
  display: none;
}

.only-desktop {
  display: block;
}

.navbar-select--navbar {
  font-size: 1.2rem;
  border-radius: 5px;
  border: none;
  background-color: #06813b; /* Morado */
  color: #ffffff; /* Blanco */
  font-weight: bold;
  cursor: pointer;
  appearance: none; /* Quita estilos nativos del navegador */
}

.navbar-switches {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.navbar-switches label {
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar--navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .navbar-list--navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0;
    gap: 5px;
    margin: 0;
    list-style: none;
  }

  .navbar-logo--navbar {
    display: none;
  }

  .navbar-item--navbar {
    text-align: center;
    flex: 1 1 auto;
    max-width: 120px;
    font-size: .8rem;
  }

  .navbar-link--navbar {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
    width: 100%;
  }

  .navbar-item--navbar.only-mobile {
    max-width: none;
    flex: 1 1 auto;
    padding: 0 10px;
  }

  .navbar-select--navbar {
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    margin-bottom: 1vh;
    color: #06813b;
    width: 15vh;
    text-align: center;
  }

  .only-desktop {
    display: none;
  }

  .only-mobile {
    display: block;
  }
}
