/* Fondo del modal superpuesto */
.modal-croquetas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté sobre otros elementos */
  }
  
  /* Contenido del modal */
  .modal-croquetas-content {
    background: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif; /* Fuente moderna y fina */
    color: #333;
    position: relative;
    overflow-y: auto; /* Permite scroll si hay mucho contenido */
    max-height: 80%;
  }
  
  /* Títulos y descripciones */
  .modal-croquetas-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--color-principal); /* Morado */
  }
  
  .modal-croquetas-content p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
  }
  
  /* Ingredientes y opciones */
  .modal-croquetas-content h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--color-principal); /* Morado */
  }

  .sabor-croquetas input[type="radio"] {
    margin-left: 1vh;
    color: rebeccapurple;
  }

  .cantidad-btn-croquetas{
    background-color: white;
    border: none;
    color: var(--color-principal);
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .modal-croquetas-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .modal-croquetas-content ul li {
    margin-bottom: 10px;
  }
  
  .modal-croquetas-content label {
    font-size: 1rem;
    color: #333;
  }
  
  /* Cantidad */
  .cantidad-croquetas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .cantidad-croquetas button {
    background-color: var(--color-principal);
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .cantidad-croquetas button:hover {
    background-color: var(--color-principal), 20, 108, 0.8);
  }
  
  /* Botones */
  .modal-botones-croquetas {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .modal-botones-croquetas button {
    background-color: #ddd;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .modal-botones-croquetas button:hover {
    background-color: #ccc;
  }
  
  .modal-botones-croquetas button:last-child {
    background-color: var(--color-principal);
    color: #fff;
  }
  
  .modal-botones-croquetas button:last-child:hover {
    background-color: var(--color-principal);
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    margin-top: 10px;
  }
  